@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --iw-font-base: "Inter", sans-serif;
        --iw-color-background: #FFFFFF;
        --iw-color-header: #000000;
        --iw-color-footer: #FFFFFF;
        --iw-color-title: #000000;
        --iw-color-subTitle: #717171;
        --iw-color-searchTitle: #3E3E3E;
        --iw-color-primary: #EB6F2D;
        --iw-color-helpAccordionHover: #e0e0e0;
        --iw-color-shadow: #18479329;
        --iw-color-spinningLoaderPrimary: #EB6F2D;
        --iw-color-spinningLoaderSecondary: #E6E6E6;
        --iw-color-navigationBar: #F2FBFF;
        --iw-color-languageGlobeIcon: #EB6F2D;
        --iw-color-languageArrowIcon: #EB6F2D;
        --iw-color-languageCheckIcon: #EB6F2D;
        --iw-color-closeIcon: #8E8E8E;
        --iw-color-searchIcon: #8E8E8E;
        --iw-color-tileBackground: #FFFFFF;
        --iw-color-shieldSuccessIcon: #4b9d1f;
        --iw-color-shieldErrorIcon: #EF4444;
        --iw-color-shieldLoadingIcon: #ff914b;
        --iw-color-shieldSuccessShadow: #f1f7ee;
        --iw-color-shieldErrorShadow: #FEF2F2;
        --iw-color-shieldLoadingShadow: #f6dfbe;
    }
    [class="purple_theme"] {
        --iw-font-base: "Gentium Plus", serif;
        --iw-color-background: #bcaaf3;
        --iw-color-header: #8f69ec;
        --iw-color-footer: #8f69ec;
        --iw-color-title: #000000;
        --iw-color-subTitle: #717171;
        --iw-color-searchTitle: #3E3E3E;
        --iw-color-primary: #5a31ee;
        --iw-color-helpAccordionHover: #e0e0e0;
        --iw-color-shadow: #18479329;
        --iw-color-spinningLoaderPrimary: #4518de;
        --iw-color-spinningLoaderSecondary: #E6E6E6;
        --iw-color-navigationBar: #F2FBFF;
        --iw-color-languageGlobeIcon: #4518de;
        --iw-color-languageArrowIcon: #4518de;
        --iw-color-languageCheckIcon: #4518de;
        --iw-color-closeIcon: #4518de;
        --iw-color-searchIcon: #4518de;
        --iw-color-tileBackground: #FFFFFF;
        --iw-color-shieldSuccessIcon: #4b9d1f;
        --iw-color-shieldErrorIcon: #4518de;
        --iw-color-shieldLoadingIcon: #5b32f1;
        --iw-color-shieldSuccessShadow: #f1f7ee;
        --iw-color-shieldErrorShadow: #FEF2F2;
        --iw-color-shieldLoadingShadow: #f6dfbe;
    }
}

@layer components {
    .bg {
        background: transparent url('./assets/Background.svg') no-repeat;
        background-size: cover;
        background-position: top;
        opacity: 1;
    }
}
