@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --iw-font-base: "Inter", sans-serif;
        --iw-color-background: #FFFFFF;
        --iw-color-header: #000000;
        --iw-color-footer: #FFFFFF;
        --iw-color-title: #000000;
        --iw-color-subTitle: #717171;
        --iw-color-searchTitle: #3E3E3E;
        --iw-color-primary: #FF5300;
        --iw-color-secondary: #5B03AD;
        --iw-color-lightPrimary: #fff1eb;
        --iw-color-lightSecondary: #f2ebf8;
        --iw-color-tertiary: #951F6F;
        --iw-color-helpAccordionHover: #e0e0e0;
        --iw-color-shadow: #18479329;
        --iw-color-selected-shadow: #164EA840;
        --iw-color-spinningLoaderPrimary: #951F6F;
        --iw-color-spinningLoaderSecondary: #5B03AD;
        --iw-color-navigationBar: #F2FBFF;
        --iw-color-languageGlobeIcon: #951F6F;
        --iw-color-languageArrowIcon: #951F6F;
        --iw-color-languageCheckIcon: #951F6F;
        --iw-color-closeIcon: #8E8E8E;
        --iw-color-searchIcon: #8E8E8E;
        --iw-color-tileBackground: #FFFFFF;
        --iw-color-shieldSuccessIcon: #4b9d1f;
        --iw-color-shieldErrorIcon: #EF4444;
        --iw-color-shieldLoadingIcon: #FF5300;
        --iw-color-shieldSuccessShadow: #f1f7ee;
        --iw-color-shieldErrorShadow: #FEF2F2;
        --iw-color-shieldLoadingShadow: #f6dfbe;
        --iw-color-backDrop: #000000;
        --iw-color-borderDark: #717171;
        --iw-color-borderLight: #E8EBEC;
        --iw-color-arrowDown: #164EA840;
        --iw-color-hoverBackGround: #164EA840;
        --iw-color-text: #FFFFFF;
        --iw-color-subText: #A0A8AC;
        --iw-color-disclaimerBackGround: #FFF7E5;
        --iw-color-disclaimerText: #8B6105;
    }
    [class="emerald_theme"] {
        --iw-font-base: "Inter", sans-serif;
        --iw-color-background: #FFFFFF;
        --iw-color-header: #000000;
        --iw-color-footer: #FFFFFF;
        --iw-color-title: #000000;
        --iw-color-subTitle: #717171;
        --iw-color-searchTitle: #3E3E3E;
        --iw-color-primary: #0FAC8B;
        --iw-color-secondary: #00a3dd;
        --iw-color-lightPrimary: #fff1eb;
        --iw-color-lightSecondary: #f2ebf8;
        --iw-color-tertiary: #951F6F;
        --iw-color-helpAccordionHover: #e0e0e0;
        --iw-color-shadow: #18479329;
        --iw-color-selected-shadow: #164EA840;
        --iw-color-spinningLoaderPrimary: #0FAC8B;
        --iw-color-spinningLoaderSecondary: #00a3dd;
        --iw-color-navigationBar: #F2FBFF;
        --iw-color-languageGlobeIcon: #0FAC8B;
        --iw-color-languageArrowIcon: #0FAC8B;
        --iw-color-languageCheckIcon: #0FAC8B;
        --iw-color-closeIcon: #8E8E8E;
        --iw-color-searchIcon: #8E8E8E;
        --iw-color-tileBackground: #FFFFFF;
        --iw-color-shieldSuccessIcon: #4b9d1f;
        --iw-color-shieldErrorIcon: #EF4444;
        --iw-color-shieldLoadingIcon: #0FAC8B;
        --iw-color-shieldSuccessShadow: #f1f7ee;
        --iw-color-shieldErrorShadow: #FEF2F2;
        --iw-color-shieldLoadingShadow: #f6dfbe;
        --iw-color-backDrop: #000000;
        --iw-color-borderDark: #717171;
        --iw-color-borderLight: #E8EBEC;
        --iw-color-arrowDown: #164EA840;
        --iw-color-hoverBackGround: #164EA840;
        --iw-color-text: #FFFFFF;
        --iw-color-subText: #A0A8AC;
        --iw-color-disclaimerBackGround: #FFF7E5;
        --iw-color-disclaimerText: #8B6105;
    }
}

@layer components {
    .bg {
        background: transparent url('./assets/Background.svg') no-repeat;
        background-size: cover;
        background-position: top;
        opacity: 1;
    }
}
